html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}
#fpsLabel {
  background-color: black;
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-weight: bold;
    cursor: default;
    padding: 5px;
}
